<link rel="stylesheet" type="text/css" href="css/post.css">
<div class="bar"><button class="menuBtn" menu-toggle="left"><i class="icon ion-navicon"></i></button></div>
<ion-view>
	<ion-content class="wrapper">

		<ion-refresher
		    pulling-text="Refreshing..."
		    on-refresh="getPostData()">
		</ion-refresher>
	
		<header class="padding">
			<br/>
			<img src="img/audio.png" style="width:100%" >
			<h1>Audios</h1>
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		</header><!--end header-->

		<div style="overflow: auto;margin-top:-200px;font-size:90%">
			
			<div ng-show="showPostListLoader == 'false'" style="color:#fff;text-align:center">
				Loading Data<br/>
				Please wait...<br/>
				<img src="img/loading.gif">
			</div>

			<div ng-show="showPostListLoader == 'true'" ng-repeat="audio in dataArray" class="padding dataRepeat">
				<div class="list">
				    <a class="item item-thumbnail-left" href="#/app/post/{{audio.id}}/audio">
				      <img src="img/audio2.png" style="border:1px solid #d7d7d7;padding:10px;background: #f8f8f8;"/>
				      <h2><b>{{audio.title}}</b></h2>
				      <span class="postDetails">
				      	<p><b>Description:</b> {{audio.description}}</p>
				      	<p><b>Posted by:</b> {{audio.postBy}}</p>
					  	<p><b>Posted Date and Time:</b> {{audio.postDate}} {{audio.postTime}}</p>
					  </span><!--end span for postDetails Class-->
				    </a>
				</div><!--end List-->
			</div><!--End ng-repeat-->
			<br/><br/><br/><br/>
			<div ng-show="dataArray.length == 0" class="padding dataRepeat" style="padding:5%;text-align:center">
			No data found
			</div>

		</div><!--End list Container-->
	<br/><br/><br/>
	</ion-content>
</ion-view>