<div class="bar"><a style="padding: 6px;text-decoration: none;"  class="menuBtn" href="#/app/login"><i class="ion-chevron-left"></i> Back</a></div>
<style type="text/css">
  .onLoginBtnLoader{
    opacity:0.5;
  }
</style>
<ion-view view-title="Forget Password" ng-hide="fireServerDataBlocked.mobile_app_block">
  <video class="bg-video" autoplay loop preload="auto" webkit-playsinline playsinline><source src="media/a2.mp4"></video>
  <ion-content style="background: rgba(22, 1, 158, 0.32);height:100%">

  
  
    <div class="headerLogin">
      <br/><br/>
      <img src="img/logo.png" width="50%">
      <h4>Forgot your password?</h4>
      <p>Please provide your registered Phone Number to reset your password</p>
    </div>


  <form ng-submit="passReset(username,phone_number)" ng-hide="showResetPassFields">
    <label class="inputFieldLoginForm">
      <i class="icon ion-person placeholder-icon"></i>
      <input type="text" placeholder="Username" ng-model="username" required>
    </label>
    <label class="inputFieldLoginForm">
      <i class="icon ion-iphone placeholder-icon"></i>
      <input type="text" placeholder="Registered Phone Number" ng-model="phone_number" required>
    </label>
    <button class="submitBtnLoginForm" type="submit">Submit</button>
    <div ng-show="msg" style="color:red;text-align:center;margin-bottom:-20px;background: #fff;margin-top: 20px;border-radius: 10px;padding: 4px;"><b>{{msg}}</b></div>
  </form>




  <form ng-submit="changePassword(newPassword,confirmPassword)" ng-show="showResetPassFields">
    <label class="inputFieldLoginForm">
      <i class="icon ion-locked placeholder-icon"></i>
      <input type="password" placeholder="New Password" ng-model="newPassword" required>
    </label>
    <label class="inputFieldLoginForm">
      <i class="icon ion-locked placeholder-icon"></i>
      <input type="password" placeholder="Confirm Password" ng-model="confirmPassword" required>
    </label>
    <button class="submitBtnLoginForm" type="submit">Change Password</button>
    <div ng-show="msg" style="color:red;text-align:center;background: #fff;margin-top: 20px;border-radius: 10px;padding: 4px;"><b>{{msg}}</b></div>
    <div ng-show="msgSuccess" style="color:green;text-align:center;background: #fff;margin-top: 20px;border-radius: 10px;padding: 6px;">
      <b> <i class="ion-checkmark-round"></i> {{msgSuccess}}</b><br/>
      <a style="padding: 1px 7px;text-decoration: none;" href="#/app/login" class="menuBtn" ng-click="goLoginPage();"> Back to Login Screen </a>
    </div>
    <div ng-show="msgError" style="color:red;text-align:center;background: #fff;margin-top: 20px;border-radius: 10px;padding: 4px;"><b>{{msgError}}</b></div>

  </form>




    <br/><br/><br/>
   
  </ion-content>
</ion-view>