<link rel="stylesheet" type="text/css" href="css/post.css">
<div class="bar"><button class="menuBtn" menu-toggle="left"><i class="icon ion-navicon"></i></button></div>
<ion-view>
	<ion-content class="wrapper">

		<header class="padding">
			<br/>
			<h1>Others</h1>
			
		</header><!--end header-->


		<br/>

		<div class="list">
		  <a class="item item-icon-right" href="#/app/announcement">
		    Announcements
		    <i class="icon ion-ios-arrow-forward"></i>
		  </a>

		  <a class="item item-icon-right" href="#/app/circular">
		    Circular
		    <i class="icon ion-ios-arrow-forward"></i>
		  </a>

		  <a class="item item-icon-right" href="#/app/updates">
		    Updates
		    <i class="icon ion-ios-arrow-forward"></i>
		  </a>

		  <a class="item item-icon-right" href="#/app/results">
		    Results
		    <i class="icon ion-ios-arrow-forward"></i>
		  </a>
		  <a class="item item-icon-right" href="#/app/miscellaneous">
		    Miscellaneous
		    <i class="icon ion-ios-arrow-forward"></i>
		  </a>
		</div><!-- End List -->


	</ion-content>
</ion-view>